source https://api.nuget.org/v3/index.json
nuget FSharp.Core 4.6.2
nuget Fake.IO.FileSystem
nuget Fake.IO.Zip
nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Microsoft.ServiceFabric
nuget Microsoft.ServiceFabric.Services
nuget Expecto
nuget Microsoft.ServiceFabric.Client.Http 2.0.0-preview13
nuget TaskBuilder.fs 2.1.0


group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget Giraffe
    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.StaticFiles
    nuget Thoth.Json.Giraffe

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Microsoft.ServiceFabric
    nuget Microsoft.ServiceFabric.Services
    nuget Microsoft.ServiceFabric.Client.Http 3.0.0-preview16
    nuget FSharp.Data