version 5.216.0
source https://api.nuget.org/v3/index.json
framework: netcoreapp2.1

nuget FSharp.Core
nuget Microsoft.ServiceFabric
nuget Microsoft.ServiceFabric.Services
nuget Expecto

group Build
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.1
    generate_load_scripts: true

    nuget FSharp.Core 4.6.2
    nuget Fake.Core.Target 5.15.0
    nuget Fake.Core.Targets
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Microsoft.ServiceFabric.Client.Http 3.0.0-preview16
    nuget FSharp.Data
    nuget Fake.IO.Zip
    nuget TaskBuilder.fs 2.1.0