source https://api.nuget.org/v3/index.json
nuget FSharp.Core 4.6.2
nuget Fake.IO.FileSystem
nuget Fake.Core.Target

group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core 4.5.4
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
